# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
env/
venv/
ENV/
*.env

# Pipenv
Pipfile.lock.bak

# Django stuff
*.log
staticfiles/
media/
db.sqlite3

# VSCode / PyCharm / IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing
.coverage
.tox/
.pytest_cache/
htmlcov/

# Node modules
node_modules/

maestro/static/css/app.css
