@import "tailwindcss";

@source "../../modules/**/*.html";
@source "../../modules/**/*.py";
@source "../js/**/*.js";

@theme {
    --color-primary: #AC50D3;
    --color-secondary: #2F3A27;
    --color-background: #ffffff;
    --color-foreground: #292826;
    --color-muted: #F8F8F8;
    --color-foreground-secondary: #666666;
}

label {
    @apply block text-sm font-medium mb-2
}

table {
    @apply w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400
}

thead {
    @apply text-xs text-gray-700 uppercase bg-gray-50
}

th {
    @apply px-6 py-3
}

tbody tr {
    @apply bg-white border-b border-gray-200
}

tbody td {
    @apply px-6
}

@layer components {
    .btn {
        @apply font-medium text-center inline-flex items-center justify-center gap-3 rounded-lg focus:outline-none focus:ring-4 transition;
    }

    .btn-primary {
        @apply bg-primary text-white hover:opacity-90 focus:ring-blue-300;
    }

    .btn-outline {
        @apply text-primary hover:text-white border border-primary hover:bg-primary focus:ring-4 focus:outline-none focus:ring-blue-300;
    }

    .btn-ghost {
        @apply bg-transparent text-foreground hover:bg-muted hover:text-primary focus:ring-4 focus:outline-none focus:ring-blue-300;
    }

    .btn-xs{
        @apply px-3 py-2 text-xs;
    }

    .btn-sm{
        @apply px-3 py-2 text-sm;
    }

    .btn-md {
        @apply px-3 py-2.5 text-sm;
    }

    .btn-lg{
        @apply px-5 py-3 text-base;
    }

    .btn-xl{
        @apply px-6 py-3.5 text-lg;
    }
}

.btn-outline {
  @apply p-2 rounded-lg font-medium text-primary cursor-pointer transition-all hover:bg-primary hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 border-2 border-primary block;
}

[x-cloak] {
    display: none !important;
}