{% block nav_item %}
    {#  Renders a single navigation item (<li>) with:                                                   #}
    {#      • label (string)  – the text displayed in the menu                                          #}
    {#      • href  (string)  – the target URL (use {% url ... as var %} or pass a string)              #}
    {#      • icon  (string)  – the FontAwesome icon class (e.g. "fas fa-home")                         #}
    {#                                                                                                  #}
    {#      Example:                                                                                    #}
    {#         {% widget "widgets:nav_item" label="Dashboard" href=demo_url icon="fas fa-th-large" %}   #}

    <li class="rounded-lg transition-colors">
        <a href="{{ href }}"
           class="flex items-center space-x-3 p-2 {% if request.path != href %} hover:bg-muted {% endif %} cursor-pointer rounded-lg
              {% if request.path == href %} bg-primary text-white {% endif %}"
           @mouseenter="collapsed && (showTooltip = true, tooltipText = '{{ label }}')"
           @mouseleave="showTooltip = false"
        >
            <span class="w-5 text-foreground {% if request.path == href %} text-white {% endif %}">{% icons icon %}</span>
            <span x-show="!collapsed" x-transition
                  class="text-foreground {% if request.path == href %} text-white {% endif %}">{{ label }}</span>
        </a>
    </li>
{% endblock %}

{% block nav_item_with_subnav %}
    {#  Renders a navigation item (<li>) with a submenu, with:                                          #}
    {#      • label (string)       – the text displayed in the menu                                     #}
    {#      • icon  (string)       – the FontAwesome icon class (e.g. "fas fa-home")                    #}
    {#      • submenu_items (dict) – a list of strings representing submenu item labels                 #}
    {#                               Example:                                                           #}
    {#                                  {[Label Name]: [url]}                                           #}
    {#                                                                                                  #}
    {#      Example:                                                                                    #}
    {#         {% widget "widgets:nav_item_with_subnav"                                                 #}
    {#                    label="Workspace"                                                             #}
    {#                    icon="briefcase"                                                       #}
    {#                    submenu_items="{'Example': 'url as variable'}"|to_dict %}                                                 #}

    <li class="relative"
        x-data="{
                    sublistOpen: false,
                    showTooltip: false,
                    tooltipSubmenu: false,
                    tooltipTimer: null,
                    submenuItems: {{ submenu_items|safe }}
                   }"
    >
        <div
                class="flex items-center justify-between p-2 hover:bg-muted rounded-lg cursor-pointer transition-colors"
                @click="collapsed ? (tooltipSubmenu = !tooltipSubmenu) : (sublistOpen = !sublistOpen)"
                @mouseenter="
                            if (collapsed) {
                                clearTimeout(tooltipTimer);
                                showTooltip = true;
                                tooltipText = {{ label }};
                                tooltipSubmenu = true;
                            }
                        "
                @mouseleave="
                            if (collapsed) {
                                tooltipTimer = setTimeout(() => {
                                    showTooltip = false;
                                    tooltipSubmenu = false;
                                }, 200);
                            }
                        "
        >
            <div class="flex items-center space-x-3">
                {% icons icon class="text-foreground w-5" %}
                <span x-show="!collapsed" x-transition class="text-foreground">{{ label }}</span>
            </div>
            <span x-show="!collapsed" :class="sublistOpen && 'rotate-180'">
                {% icons "chevron-down" class="text-foreground text-sm transition-transform" %}
            </span>

        </div>

        <!-- Workspace Submenu (Expanded) -->
        <div x-show="!collapsed && sublistOpen" x-transition class="ml-8 mt-1 space-y-1">
            <template x-for="(href, label) in submenuItems" :key="label">
                <a :href="href"
                   class="block p-2 hover:bg-muted rounded-lg cursor-pointer text-foreground text-sm"
                   :class="window.location.pathname === href ? 'bg-primary text-white' : ''"
                   x-text="label">
                </a>
            </template>
        </div>

        <div x-show="collapsed && tooltipSubmenu"
             x-transition
             @mouseenter="clearTimeout(tooltipTimer)"
             @mouseleave="tooltipSubmenu = false; showTooltip = false"
             class="absolute left-12 top-0 bg-background shadow-lg rounded-lg border p-1 z-[9999] min-w-[140px]">

            <template x-for="(href, label) in submenuItems" :key="label">
                <a class="block p-1 hover:bg-muted rounded cursor-pointer text-sm text-foreground"
                   :href="href"
                   x-text="label"></a>
            </template>
        </div>
    </li>

{% endblock %}
